<!--
<h1>{{ book.name }}</h1>
<div>Author: {{book.author}}</div>
<div>Id: {{book.id}}</div>
<div>
    <label>name:
      <input [(ngModel)]="book.name" placeholder="name">
    </label>
</div> -->

<h1>A SONG OF ICE AND FIRE</h1>
<ul class = "asoiaf" >
    <li *ngFor = "let book of books" (click) = "onSelect(hero)">
        <span class = "tile">
            <h3>Title: {{book.name}} </h3>
            <h4><div>Author: {{book.author}}</div>
            <div>Id: {{book.id}}</div></h4>
        </span>
    </li>
</ul>
